$primaryColor: #fafafa;

@mixin FlexCenter{
  display: flex;
  justify-content: center;
;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  @include FlexCenter();
  
  background: $primaryColor;
}
p {
  font-size:20px;
  margin-top:30px;
  text-align: justify;
}
.pontuacao {
  align-items: center;
  padding: 10px;
}
 .start {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about p{
  text-align: justify;
}

.dino {
  position: absolute;
  bottom: 0;
  left: 20px;
  background-image: url("../img/dino.png");
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url("../img/cactus.png");
}

.game-over {
  margin-top: 220px;
}
input {
  cursor: pointer;
  margin-top: 220px;
  background-image: url("../img/bottom.png");
  background-repeat: no-repeat;
  padding: 40px;
  width: 100px;
  height: 100%;
}


@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 60px;
  background-image: url("../img/background.png");
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}
